<div class="control-panel">
  <div class="tab"><span>Menu:</span></div>
  <div class="menu">
    <div><a routerLink="/">Home</a></div>
    <div><a routerLink="/settings">Settings</a></div>
    <div><a routerLink="/full">Fullscreen</a></div>
    <div><a href="/">Reload</a></div>
  </div>
  <div class="tab"><span>Controls:</span></div>
  <app-arrowkeys (keyClicked)="moveKeyClicked($event)"></app-arrowkeys>
  <div class="other-controls">
    <button (click)="setRotation(1)">Rotate right</button>
    <button (click)="setRotation(-1)">Rotate left</button>
    <button [disabled]="isRotationSet()" (click)="rotate(90)">
      Rotate 90°
    </button>
    <button [disabled]="isRotationSet()" (click)="rotate(180)">
      Rotate 180°
    </button>
    <button [disabled]="isRotationSet()" (click)="rotate(270)">
      Rotate 270°
    </button>
    <button [disabled]="isRotationSet()" (click)="rotate(360)">
      Rotate 360°
    </button>
  </div>
</div>
<div class="camera">
  <app-camera></app-camera>
</div>
<div class="other-information">
  <app-other-information></app-other-information>
</div>
